.nav-list li {
	line-height: 25px;
}

.controls .avatar {
	width: 30px;
	height: 30px;
	margin-right: 15px;
}

.controls .tag-wrap {
	padding-right: 30px;
	line-height: 30px;
}
body > .label {
	padding: 2px 4px 4px 4px;
	cursor: move;
}
.controls .tag-wrap .label {
	margin-right: 5px;
	cursor: default;
}
#tag-wrap-lib .label {
	cursor: move;
}
.control-group.no-input .control-label{
	padding-top: 0;
	margin-bottom: 0;
}


/* notify */
.info-wrap {
	margin: 20px;
	font-size: 13px;
	line-height: 16px;
}
#comment-list li {
	margin: 2em 0;
}
#comment-list li p {
	margin-bottom: 5px;
}
#comment-list .avatar {
	width: 35px;
	float: left;
	margin-top: 5px;
}
#comment-list .comment {
	margin-left: 50px;
}
#comment-list .comment-meta {

}
#comment-list .comment-date {
	color: #999;
	font-size: 11px;
}
#comment-list .comment-content {
	font-size: 13px;
}
#comment-list .comment-content img {
	vertical-align: top;
	margin-top: -6px;
}
.notify h5 {
	margin-bottom: 10px;
}
button.refresh {
	margin-left: 15px;
}
.notify ul li {
	margin-bottom: 8px;
}
.notify ul span {
	font-size: 11px;
	color: #999;
}


a.remove-tag {
	text-decoration: none;
	color: white;
	cursor: pointer;
}
a.remove-tag:hover, a.remove-tag:active {
	color: #CCC;
}



/* request page */
div.explain {
	margin: 10px 30px;
}
div.explain p {
	text-indent: 2em;
}