RewriteEngine on
# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# otherwise forward it to index.php
RewriteRule . index.php

RewriteCond %{REQUEST_URI} !/update.html$
RewriteCond %{REMOTE_ADDR} !^10\.0\.0\.101
#RewriteRule $ /update.html [R=302,L]

